@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-tight);
  --font-mono: var(--font-inter-tight);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter-tight), "Inter Tight", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
